In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn_pandas import DataFrameMapper

In [3]:
df =pd.read_csv('..\data\steam_cleaned.csv', index_col= 'Unique_ID')

In [4]:
df = df.drop('year', axis = 1)

In [5]:
mapper = DataFrameMapper([(df.columns, StandardScaler())])
scaled_features = mapper.fit_transform(df.copy())
scaled_features_df = pd.DataFrame(scaled_features, index=df.index, columns=df.columns)

In [6]:
df_transpose = scaled_features_df.transpose()
correlation_df = df_transpose.corr()

In [7]:
correlation_df

Unique_ID,1643320,2172860,1364780,1868180,1868170,1810820,1485590,1294810,1774580,1798020,...,592370,418800,418790,564310,237810,335610,249860,49540,418770,57925
Unique_ID,,,,,,,,,,,,,,,,,,,,,
1643320,1.000000,0.136167,0.043773,0.056643,0.055719,0.055719,0.016024,0.400800,0.059690,0.010102,...,0.000100,-0.002309,0.011976,0.045481,0.021118,0.142315,-0.035702,0.137338,-0.014359,0.128078
2172860,0.136167,1.000000,0.056007,0.178943,0.060229,0.060229,0.018858,0.188877,0.068867,0.028580,...,0.023369,0.145228,0.208572,-0.045459,0.069789,0.159939,-0.026903,-0.007405,0.190283,-0.014475
1364780,0.043773,0.056007,1.000000,0.039528,0.038834,0.038834,0.139160,0.105110,0.077233,0.127338,...,0.403012,0.083007,0.123032,-0.047921,0.012083,0.114241,-0.012521,0.004536,0.101216,-0.041985
1868180,0.056643,0.178943,0.039528,1.000000,0.883709,0.883709,0.227534,0.067083,0.049637,0.015275,...,0.007869,0.056200,0.088595,-0.083213,0.047258,0.103098,-0.030370,-0.014140,0.074258,-0.087433
1868170,0.055719,0.060229,0.038834,0.883709,1.000000,1.000000,0.223489,0.066045,0.048809,0.015113,...,0.008089,0.055886,0.088038,-0.081528,0.046631,0.102472,-0.029527,-0.013850,0.073959,-0.085109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335610,0.142315,0.159939,0.114241,0.103098,0.102472,0.102472,0.084209,0.166087,0.132284,0.041372,...,0.109979,0.295848,0.428027,-0.095057,0.122462,1.000000,0.001253,-0.000458,0.390961,0.008129
249860,-0.035702,-0.026903,-0.012521,-0.030370,-0.029527,-0.029527,0.010333,-0.027215,-0.017714,-0.012360,...,-0.006045,-0.035997,-0.038350,-0.035159,-0.015616,0.001253,1.000000,-0.008201,-0.035889,-0.011576
49540,0.137338,-0.007405,0.004536,-0.014140,-0.013850,-0.013850,-0.002764,0.278549,0.100522,-0.012327,...,0.000683,-0.011049,-0.002613,0.227906,-0.032805,-0.000458,-0.008201,1.000000,-0.009218,0.163015
418770,-0.014359,0.190283,0.101216,0.074258,0.073959,0.073959,0.065838,0.121726,0.097951,0.088622,...,0.168443,0.723464,0.993926,0.075261,0.260796,0.390961,-0.035889,-0.009218,1.000000,0.126380
57925,0.128078,-0.014475,-0.041985,-0.087433,-0.085109,-0.085109,-0.029133,0.195425,-0.060128,-0.021603,...,0.121989,0.063986,0.114538,0.355295,-0.049061,0.008129,-0.011576,0.163015,0.126380,1.000000

In [8]:
test = correlation_df[1643320].values

In [9]:
np.sort(test)

array([-0.19958461, -0.19812661, -0.19628738, ...,  0.86092307,
        0.8811249 ,  1.        ])

In [23]:
res = correlation_df.loc[1643320].sort_values(ascending=False)[1:11]

In [28]:
res

Unique_ID
4500       0.881125
435881     0.860923
41700      0.843287
20510      0.804848
1012790    0.804399
611660     0.784761
490650     0.784349
412020     0.718675
1016800    0.702704
9200       0.701651
Name: 1643320, dtype: float64

In [37]:
data1 = pd.read_csv('../data/steam.csv')
data1

,Unique_ID,url,title,tags,win_comp,mac_comp,linux_comp,review,percent_review,total_review,date_released,discount,price
0,1643320,https://store.steampowered.com/app/1643320/STA...,S.T.A.L.K.E.R. 2: Heart of Chornobyl,"['Open World', 'FPS', 'Post-apocalyptic', 'Sur...",1,0,0,Not Rated,Not Rated,Not Rated,December 2023,No Discount,59.99
1,2172860,https://store.steampowered.com/app/2172860/The...,The Elder Scrolls Online: Necrom,"['RPG', 'Action', 'Adventure', 'Massively Mult...",1,1,0,Not Rated,Not Rated,Not Rated,"Jun 5, 2023",No Discount,39.99
2,1364780,https://store.steampowered.com/app/1364780/Str...,Street Fighter 6,"['Action', 'Adventure', '2D Fighter', 'Arcade'...",1,0,0,Not Rated,Not Rated,Not Rated,"Jun 1, 2023",No Discount,59.99
3,1868180,https://store.steampowered.com/app/1868180/Etr...,Etrian Odyssey HD,"['Adventure', 'RPG', 'Dungeon Crawler', '2D', ...",1,0,0,Not Rated,Not Rated,Not Rated,"May 31, 2023",No Discount,39.99
4,1868170,https://store.steampowered.com/app/1868170/Etr...,Etrian Odyssey II HD,"['Adventure', 'RPG', 'JRPG', 'Dungeon Crawler'...",1,0,0,Not Rated,Not Rated,Not Rated,"May 31, 2023",No Discount,39.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,335610,https://store.steampowered.com/app/335610/TANE...,TANE DLC Route: Season Town,['Simulation'],1,1,0,Not Rated,Not Rated,Not Rated,NaN,No Discount,29.99
9282,249860,https://store.steampowered.com/app/249860/Arma...,Arma 3 Soundtrack,"['Strategy', 'Action', 'Simulation', 'Soundtra...",0,0,0,Positive,81% of positive reviews,43 total reviews,NaN,No Discount,9.99
9283,49540,https://store.steampowered.com/app/49540/Alien...,Aliens: Colonial Marines Collection,"['Action', 'FPS', 'Aliens', 'Co-op', 'Sci-fi',...",1,0,0,Mixed,60% of positive reviews,6 total reviews,NaN,No Discount,29.99
9284,418770,https://store.steampowered.com/app/418770/Anci...,Ancient Vanguard,"['Action', 'Adventure']",1,1,1,Not Rated,Not Rated,Not Rated,NaN,No Discount,2.99
9285,57925,https://store.steampowered.com/app/57925/Duke_...,Duke Nukem Forever: The Doctor Who Cloned Me,"['Action', 'FPS']",1,1,0,Positive,85% of positive reviews,40 total reviews,"Jul 12, 2012",-50%,4.99

In [39]:
idNamesDict = data1.set_index('Unique_ID').to_dict()['title']

In [ ]:
res = correlation_df.loc[1643320].sort_values(ascending=False)[1:11]

In [62]:
test1 = pd.DataFrame(res)
test1['Title'] = test1.index.map(mapper=idNamesDict)
test1.columns = ['Match_Rate', 'Title']
test1 = test1[['Title', 'Match_Rate']]
test1

                                         Title Match_Rate
Unique_ID
4500       S.T.A.L.K.E.R.: Shadow of Chernobyl   0.881125
435881                    Fallout 4 Far Harbor   0.860923
41700          S.T.A.L.K.E.R.: Call of Pripyat   0.843287
20510                S.T.A.L.K.E.R.: Clear Sky   0.804848
1012790                     Into the Radius VR   0.804399
611660                            Fallout 4 VR   0.784761
490650                    Fallout 4 Nuka-World   0.784349
412020                            Metro Exodus   0.718675
1016800          Chernobylite Enhanced Edition   0.702704
9200                                      RAGE   0.701651

In [63]:
def top10_corr(id):
    """

    Returns top 10 app ids along with their correlation to argument id

    Args:
        id (int): id of app to lookup
    """

    # Create ID-Title Dictionary
    data = pd.read_csv('../data/steam.csv')
    idNamesDict = data.set_index('Unique_ID').to_dict()['title']

    # Get top 10 matches
    res = correlation_df.loc[id].sort_values(ascending=False)[1:11]
    res = pd.DataFrame(res)
    res['Title'] = res.index.map(mapper=idNamesDict)
    res.columns = ['Match_Rate', 'Title']
    res = res[['Title', 'Match_Rate']]
    res



    return res

In [65]:
top10_corr(1643320)

                                         Title  Match_Rate
Unique_ID
4500       S.T.A.L.K.E.R.: Shadow of Chernobyl    0.881125
435881                    Fallout 4 Far Harbor    0.860923
41700          S.T.A.L.K.E.R.: Call of Pripyat    0.843287
20510                S.T.A.L.K.E.R.: Clear Sky    0.804848
1012790                     Into the Radius VR    0.804399
611660                            Fallout 4 VR    0.784761
490650                    Fallout 4 Nuka-World    0.784349
412020                            Metro Exodus    0.718675
1016800          Chernobylite Enhanced Edition    0.702704
9200                                      RAGE    0.701651