In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import TruncatedSVD
import numpy as np
import pandas as pd

In [2]:
path = '../data/steam_cleaned.csv'

In [3]:
data = pd.read_csv(path)
data.head()

,Unique_ID,win_comp,mac_comp,linux_comp,percent_review,total_review,discount,price,"""1990s""","""Beatemup""",...,Werewolves,Western,Wholesome,WordGame,WorldWarI,WorldWarII,Wrestling,Zombies,eSports,year
0,1643320,1,0,0,0,0,0,59.99,0,0,...,0,0,0,0,0,0,0,0,0,2023.0
1,2172860,1,1,0,0,0,0,39.99,0,0,...,0,0,0,0,0,0,0,0,0,2023.0
2,1364780,1,0,0,0,0,0,59.99,0,0,...,0,0,0,0,0,0,0,0,0,2023.0
3,1868180,1,0,0,0,0,0,39.99,0,0,...,0,0,0,0,0,0,0,0,0,2023.0
4,1868170,1,0,0,0,0,0,39.99,0,0,...,0,0,0,0,0,0,0,0,0,2023.0

In [5]:
data_scaled = StandardScaler().fit_transform(data)
data_scaled

array([[  0.92892407,   0.08525022,  -0.66763902, ...,  -0.13573906,
         -0.05971943,   0.09343939],
       [  1.77031345,   0.08525022,   1.49781538, ...,  -0.13573906,
         -0.05971943,   0.09343939],
       [  0.48635015,   0.08525022,  -0.66763902, ...,  -0.13573906,
         -0.05971943,   0.09343939],
       ...,
       [ -1.60344282,   0.08525022,  -0.66763902, ...,  -0.13573906,
         -0.05971943, -27.76734435],
       [ -1.01677099,   0.08525022,   1.49781538, ...,  -0.13573906,
         -0.05971943, -27.76734435],
       [ -1.59011984,   0.08525022,   1.49781538, ...,  -0.13573906,
         -0.05971943,  -0.05805276]])

In [6]:
tsvd = TruncatedSVD()

In [7]:
data_tsvd = tsvd.fit_transform(data_scaled)

# Finding ideal number of n_components

In [12]:
# Fit to n-1 components
tsvd = TruncatedSVD(n_components=data_scaled.shape[1]-1)
data_tsvd = tsvd.fit(data_scaled)

In [13]:
tsvd_var_ratios = tsvd.explained_variance_ratio_

In [14]:
# Create a function
def select_n_components(var_ratio, goal_var):
    # Set initial variance explained so far
    total_variance = 0
    
    # Set initial number of features
    n_components = 0
    
    # For the explained variance of each feature:
    for explained_variance in var_ratio:
        
        # Add the explained variance to the total
        total_variance += explained_variance
        
        # Add one to the number of components
        n_components += 1
        
        # If we reach our goal level of explained variance:
        if total_variance >= goal_var:
            # End the loop
            break
            
    # Return the number of components
    return n_components

In [17]:
# # Run function
# select_n_components(tsvd_var_ratios, 0.95)

# Results
print("Original data shape:", data_scaled.shape[1])
print("95% variance explained with n_components:", select_n_components(tsvd_var_ratios, 0.95))

Original data shape: 438
95% variance explained with n_components: 383