In [1]:
import psycopg2
from keys import secrets
import csv
import pandas as pd
from sqlalchemy import URL, create_engine
import io

In [2]:
url_object = URL.create(
                "postgresql+psycopg2",
                host = 'steam-db.c5m99euxia00.us-east-1.rds.amazonaws.com',
                username = secrets.get('user'),
                port=5432,
                password = secrets.get('password'),
                database='steam_db')

In [3]:
engine = create_engine(url_object)

In [4]:
engine.connect()

In [5]:
steam_path = 'data/steam.csv'
tags_path = 'data/tags.csv'

In [6]:
steam = pd.read_csv(steam_path)
tags = pd.read_csv(tags_path)

In [7]:
connection = engine.raw_connection()
cursor = connection.cursor()
command = "DROP TABLE IF EXISTS {};".format('steam')
cursor.execute(command)
connection.commit()
cursor.close()

steam.to_sql(name='steam', con=engine, if_exists='replace')

201

In [8]:
tags.to_sql(name='tags', con=engine, if_exists='replace')

443

In [9]:
# Read from table steam

sql = """
SELECT * FROM steam
"""

pd.read_sql(sql, con=connection)

C:\Users\admin\AppData\Local\Temp\ipykernel_2696\3230189287.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(sql, con=connection)

,index,title,tags,win_comp,mac_comp,linux_comp,review,percent_review,total_review,date_released,discount,price
0,0,S.T.A.L.K.E.R. 2: Heart of Chornobyl,"[1695,1663,3835,1662,122,1774,4166]",windows,None,None,Not Rated,Not Rated,Not Rated,December 2023,No Discount,59.99
1,1,The Elder Scrolls Online: Necrom,"[122,19,21,128,1684,1695,1754]",windows,mac,None,Not Rated,Not Rated,Not Rated,"Jun 5, 2023",No Discount,39.99
2,2,Street Fighter 6,"[19,21,4736,1773,4231,1743,4747]",windows,None,None,Not Rated,Not Rated,Not Rated,"Jun 1, 2023",No Discount,59.99
3,3,Etrian Odyssey II HD,"[21,122,4434,1720,3871,4191,4325]",windows,None,None,Not Rated,Not Rated,Not Rated,"May 31, 2023",No Discount,39.99
4,4,Etrian Odyssey III HD,"[21,122,4434,1720,3871,4191,4325]",windows,None,None,Not Rated,Not Rated,Not Rated,"May 31, 2023",No Discount,39.99
...,...,...,...,...,...,...,...,...,...,...,...,...
9196,9196,"Warhammer 40,000: Gladius - Lord of Skulls",[9],windows,None,linux,Not Rated,Not Rated,Not Rated,None,No Discount,2.99
9197,9197,DRAGON BALL XENOVERSE 2 - Pre-Order Bonus,"[19,21,128,597]",windows,None,None,Not Rated,Not Rated,Not Rated,None,No Discount,4.99
9198,9198,Divinity: Original Sin Enhanced Edition - Offi...,"[122,9,21,492,7948]",None,None,None,Positive,92% of positive reviews,13 total reviews,None,-40%,2.99
9199,9199,Sam &amp; Max 301: The Penal Zone,"[21,1698,1719,5613,4242,5716,19]",windows,None,None,Very Positive,92% of positive reviews,272 total reviews,None,No Discount,None
9200,9200,Little Nightmares - Scarecrow Sack,"[21,1667]",windows,None,None,Not Rated,Not Rated,Not Rated,None,No Discount,0.99

In [10]:
# Read from table tags

sql = """
SELECT * FROM tags
"""

pd.read_sql(sql, con=connection)

C:\Users\admin\AppData\Local\Temp\ipykernel_2696\3703861811.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(sql, con=connection)

     index      492                     Indie
0        0  1003823  Profile Features Limited
1        1       19                    Action
2        2      597                    Casual
3        3     4182              Singleplayer
4        4       21                 Adventure
..     ...      ...                       ...
438    438   363767                   Snooker
439    439    42329                    Coding
440    440    30927                       Fox
441    441  1220528                 Hobby Sim
442    442     6214                     Birds

[443 rows x 3 columns]

In [11]:
connection = psycopg2.connect(
    host = 'steam-db.c5m99euxia00.us-east-1.rds.amazonaws.com',
    user = secrets.get('user'),
    port=5432,
    password = secrets.get('password'),
    database='steam_db'
    )
cursor=connection.cursor()

In [12]:
connection = psycopg2.connect(
    host = 'steam-db.c5m99euxia00.us-east-1.rds.amazonaws.com',
    user = secrets.get('user'),
    password = secrets.get('password'),
    database='steam_db'
    )
cursor=connection.cursor()

In [13]:
steam.to_sql('steam', con=connection)

C:\Users\admin\AppData\Local\Temp\ipykernel_2696\3882954002.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  steam.to_sql('steam', con=connection)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^

In [ ]:
# Create steam tags table
# cursor.execute ("""CREATE TABLE tags(
# id SERIAL PRIMARY KEY,
# genre text
# )""")

# Create steam games table
cursor.execute("""CREATE TABLE steam(
name text,
tags int,
windows text,
mac text,
linux text,
reviews text,
percents text,
total_reviews text,
released text,
discount text,
price double precision
)""")

connection.commit()

In [ ]:
# Gather all available tables and columns info

sql = """
SELECT "table_name","column_name", "data_type", "table_schema"
FROM INFORMATION_SCHEMA.COLUMNS
WHERE "table_schema" = 'public'
ORDER BY table_name  
"""
pd.read_sql(sql, con=connection)

In [ ]:
# Use tags to create table
# with open('data/tags.csv', 'r') as row:
#     cursor.copy_from(row, 'tags', sep=',')

# Use steam to create table
with open('data/steam.csv', 'r') as row:
    cursor.copy_from(row, 'steam', sep=',')

connection.commit()

# Create a new role for additional access
cursor.execute("""CREATE ROLE guest WITH LOGIN PASSWORD 'guest_access'""")

# Grant different privileges
cursor.execute("""GRANT CONNECT ON DATABASE steam_db TO guest""")
cursor.execute("""GRANT SELECT, UPDATE, INSERT ON tags TO guest""")

In [ ]:
# Read from table tags

sql = """
SELECT * FROM tags
"""

pd.read_sql(sql, con=connection)

In [ ]:
# Read from table steam

sql = """
SELECT * FROM steam
"""

pd.read_sql(sql, con=connection)